#team_dashboard
  %h1.title Pull Request Dashboard
  .layout
    .flex-container
      - @repo_pr.each do |repo, username_count|
        .column
          %h2= repo
          %table
            %tr
              %th.even Name
              %th.even PR count
            - username_count.each do |username, count|
              %tr{class: cycle('odd', 'even')}
                %td=username
                %td=count
      .clear


